.header{
			width: 1250px;
			border: 2px blue;
			padding: 20px;
			color: white;
			text-align: center;
			background-color:black;


		}

		.sidebar{
			width: 100%;
			background-color:gray;
			float: left;
			height: 350px;

		}
		.content{
			width: 70%;
			background-color: pink;
			float: left;
			height: 350px;
		}

		.footer{
			background-color:black;
			font: white;
			color: white;
			text-align: center;
			float: left;
			width: 150%;

			}